{% extends "baselayout.html.twig" %}

{% block custompage_script %}
<script>

  /* Ici se trouvera le code JQuery nécessaire aux formulaires dynamiques */
var $collectionHolder;

//setup an "add a tag" link
var $addTodoButton = $('<button type="button" class="add_todo_link">Add a task</button>');
var $newLinkLi = $('<li></li>').append($addTodoButton);

jQuery(document).ready(function() {
 // Get the ul that holds the collection of tags
 $collectionHolder = $('ul.todos');

 // add the "add a tag" anchor and li to the tags ul
 $collectionHolder.append($newLinkLi);

 // count the current form inputs we have (e.g. 2), use that as the new
 // index when inserting a new item (e.g. 2)
 $collectionHolder.data('index', $collectionHolder.find(':input').length);
 $collectionHolder.find('li').each(function() {
	    addTodoFormDeleteLink($(this));
	});
 $addTodoButton.on('click', function(e) {
     // add a new tag form (see next code block)
     addTodoForm($collectionHolder, $newLinkLi);
 });
});

function addTodoForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    addTodoFormDeleteLink($newFormLi);
    $newLinkLi.before($newFormLi);
}
function addTodoFormDeleteLink($todoFormLi) {
    var $removeFormButton = $('<button type="button">Delete this task</button>');
    $todoFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the todo form
        $todoFormLi.remove();
    });
}



</script>
{% endblock %} {# custompage_script #}